body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 32.53333vw;
  background: url(../images/bg.png);
  background-size: cover;
}

header article:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}

header article:nth-child(1) .text-size {
  font-size: 5.33333vw;
  padding-top: 4vw;
  padding-right: 4vw;
}

header article:nth-child(2) figure {
  display: flex;
  align-items: center;
}

header article:nth-child(2) figure figcaption {
  width: 14.66667vw;
  height: 14.66667vw;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 4vw;
  margin-right: 4vw;
}

header article:nth-child(2) figure figcaption img {
  width: 100%;
  height: 100%;
}

header article:nth-child(2) figure span {
  font-size: 4vw;
  color: #333333;
}

main {
  flex: 1;
  overflow: auto;
  background: #f4f4f4;
}

main .section1_content {
  height: 39.2vw;
  background: #fff;
  margin-bottom: 2.66667vw;
  display: flex;
  flex-wrap: wrap;
}

main .section1_content article {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .section1_content article i {
  padding-top: 4vw;
  font-size: 5.33333vw;
}

main .section1_content article p {
  color: #999999;
  font-size: 3.2vw;
}

main .section2_content {
  height: 37.6vw;
  background: #fff;
  margin-bottom: 2.66667vw;
}

main .section2_content h3 {
  margin-left: 4vw;
  font-size: 3.46667vw;
  color: #666666;
  border-bottom: 1px solid #e4e4e4;
  padding: 4vw 0;
}

main .section2_content section {
  display: flex;
}

main .section2_content section article {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .section2_content section article i {
  padding-top: 4vw;
  font-size: 5.33333vw;
  padding-bottom: 1.33333vw;
}

main .section2_content section article p {
  color: #999999;
  font-size: 3.2vw;
}

main .section2_content:last-child {
  margin-bottom: 0;
}

footer {
  height: 13.06667vw;
  background: #f9edf0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a9a6a6;
  font-size: 2.66667vw;
}

footer p a:hover {
  color: #ffc53f;
}

footer p a:hover span {
  color: #333333;
}

footer p a .text-size {
  font-size: 5.33333vw;
}

footer p:nth-child(4) a i {
  color: #ffc53f;
}

footer p:nth-child(4) a span {
  color: #333333;
}
