body, html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 22.66667vw;
  background: #ffc84b;
}

header article {
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

header article .text-size {
  font-size: 5.33333vw;
}

header article:nth-child(1) {
  height: 10.66667vw;
  align-items: center;
  justify-content: space-between;
}

header article:nth-child(1) section {
  display: flex;
  align-items: center;
}

header article:nth-child(1) section:nth-child(2) aside {
  float: left;
  display: flex;
  flex-direction: column;
}

header article:nth-child(1) section:nth-child(2) aside span {
  font-size: 2.4vw;
}

header article:nth-child(1) section:nth-child(2) i:nth-child(2) {
  margin: 0 5.06667vw 0 1.33333vw;
}

header article:nth-child(2) {
  width: 94.66667vw;
  height: 9.33333vw;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  color: #a5a5a3;
  display: flex;
  align-items: center;
}

header article:nth-child(2) i {
  margin-top: 4px;
  color: #666;
}

main {
  flex: 1;
  overflow: auto;
}

main .section1_content {
  width: 94.66667vw;
  height: 24vw;
  margin: 0 auto;
  margin-top: 4vw;
  margin-bottom: 1.06667vw;
}

main .section2_content {
  width: 94.66667vw;
  height: 24vw;
  margin: 0 auto;
}

main .section3_content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6.66667vw;
}

main .section3_content figure {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
}

main .section3_content figure figcaption {
  width: 11.73333vw;
  height: 11.73333vw;
}

main .section3_content figure span {
  font-size: 2.93333vw;
  color: black;
}

main .section4_content {
  padding: 0 2.66667vw;
}

main .section4_content h2 {
  padding: 3.2vw 0;
  font-size: 4.53333vw;
  color: black;
}

main .section4_content article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .section4_content article div {
  margin-bottom: 6.66667vw;
}

main .section4_content article div img {
  width: 46.66667vw;
}

footer {
  height: 13.06667vw;
  background: #f9edf0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a9a6a6;
  font-size: 2.66667vw;
}

footer p a:hover {
  color: #ffc53f;
}

footer p a:hover span {
  color: #333333;
}

footer p a .text-size {
  font-size: 5.33333vw;
}

footer p:nth-child(1) a i {
  color: #ffc53f;
}

footer p:nth-child(1) a span {
  color: #333333;
}
